* {
    transition-duration: 0.5s;
}

html {
    font-size: 62.5%;
    font-size: 1.5rem;
}

body {
    font-family: 'Special Elite';
}

.bouton {
    background-color: orange;
}

/*__________________________________HEADER________________________________________*/

header {
    display: flex;
    align-items: center;
    background-image: url(../image/head.jpg);
    background-size: contain;
    justify-content: space-around;
    color: white;
}

nav>a.active {
    color: orange;
}

nav {
    flex-grow: 3;
    display: flex;
    justify-content: space-around;
}

#log_nav {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 0.8rem;
    border: 1px solid white;
    padding: 0.2rem;
}

#log_nav_out {
    font-family: 'Oswald', sans-serif;
    color: orange;
    font-size: 0.8rem;
    border: 1px solid orange;
    padding: 0.2rem;
}

.menu a {
    color: #808080;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

.menu a:hover {
    color: orange;
}

.logo {

    padding-left: 1rem;
    flex-grow: 2;
}

.logo a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

.logo:hover {

    animation: .8s shake infinite alternate;
}

@keyframes shake {
    0% {
        transform: skewX(-15deg);
    }
    5% {
        transform: skewX(15deg);
    }
    10% {
        transform: skewX(-15deg);
    }
    15% {
        transform: skewX(15deg);
    }
    20% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

.modal-content {
    font-size: 0.6rem;
}

/*______________________________________SONG_______________________________________*/

#audio {
    display: none;
}

#home {
    background-image: url(../image/back6.jpg);
    background-size: cover;
    min-height: 36rem;
}

#song {
    border: 1px solid #F28627;
    background-color: orange;
    color: black;
    box-sizing: content-box;
}

#song a {
    color: white;
    font-size: 0.5rem;
}

#song i {
    font-size: 3rem;
    color: black;
}

#listen {
    min-height: 60%;
    text-align: center;
}

#blur {
    min-height: 30%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
}

#blur a {
    text-decoration: none;
}

#list_date {
    margin: 1rem;
    text-align: left;
}

#list_date ul {
    list-style: none;
}

#list_date li:nth-child(1) {
    text-transform: uppercase;
}

#list_date li:nth-child(2) {
    color: orange;
}

#list_date li:nth-child(2)::first-letter {
    text-transform: uppercase;
}

#date div:nth-child(2) a {
    border: 1px solid #F28627;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
    color: black;
    background-color: orange;
    border-radius: 2px;
}

.container {
    text-align: justify;
}

#home_presentation {
    text-indent: 2rem;
}

/*______________________________________BODY_______________________________________*/

#registerback {
    background-image: url(../image/back6.jpg);
    background-size: cover;
    min-height: 36rem;
}

#register {
    color: white;
    font-size: 0.6rem;
    padding: 4rem;
    min-width: 50%;
}

#register input {
    font-size: 0.6rem;
}

#tourdate {
    background-image: url(../image/back5.jpg);
    background-size: cover;
    width: 100%;
    padding: 0;
}

#contactback {
    background-image: url(../image/back2.jpg);
    background-size: cover;
    min-height: 36rem;
}

#contact {
    color: white;
    font-size: 0.6rem;
    padding: 4rem;
    min-width: 50%;
}

#contact input {
    font-size: 0.6rem;
}

#albumback {
    background-image: url(../image/back1.jpg);
    background-size: cover;
    min-height: 36rem;
}

#album {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    margin-top: 5rem;
}

#cover_album {
    box-sizing: content-box;
    padding-top: 5rem;
}

#cover_album img {
    width: 100%;
    border: 1px solid white;
}

/*rating*/

#contain_rate {
    width: 7rem;
    margin: 1rem;
}

#rate_star>i {
    cursor: pointer;
    font-size: 1.2rem;
}

#rate_star {
    height: 1.2rem;
    display: flex;
}

#avaragedb {
    color: orange;
}

.firstnamecom {
    color: orange;
}

#chat_album {
    background-image: url(../image/head.jpg);
    background-size: contain;
    font-size: 0.7rem;
}

#mag_q ul {
    color: white;
    text-shadow: 1px 1px 2px black;
}

#mag_q ul li i {
    color: orange;
}

#rate {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#com h2 {
    font-size: 1rem;
}

#com label {
    font-size: 0.8rem;
}

#news {
    background-image: url(../image/back4.jpg);
    background-size: cover;
    width: 100%;
    padding: 0;
    min-height: 36rem;
}

#list_news {
    margin: 1rem;
}

#list_news ul {
    list-style: none;
}

#list_news li:nth-child(1) {
    text-transform: uppercase;
}

#list_news li:nth-child(2) {
    font-size: 1rem;
    color: orange;
}

#list_news li:nth-child(2)::first-letter {
    text-transform: uppercase;
}

#news_cont div:nth-child(2) a {
    border: 1px solid #F28627;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
    color: black;
    background-color: orange;
    border-radius: 2px;
}

#news_cont {
    background: rgba(0, 0, 0, 0.6);
}

#admin {
    font-size: 0.7rem;
}

#sscontainer_admin {
    padding: 3rem;
}

#concert_book {
    margin: 5rem;
}

/*_______________________________________FOOTER_______________________________________*/

footer {
    align-self: flex-end;
    background: linear-gradient(to left, #231e20, rgba(0, 0, 0, 0.9));
    background-image: url(../image/head.jpg);
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 10rem;
}

footer form input {
    text-align: center;
}

legend {
    color: white;
    margin-bottom: -0.5rem;
    text-align: center;
}

fieldset {
    padding: 0.5rem;
}

footer div:nth-child(2) {
    width: 30%;
    padding: 0.5rem;
    font-size: 1.7rem;
}

footer div a {
    color: grey;
}

footer a:hover {
    color: orange;
}

/*_____________________________________________TABLETTE_______________________________________________*/

@media screen and (max-width: 1112px) {

    header {
        flex-direction: column;
    }

    header .menu {
        justify-content: space-around;
        width: 100%;
        padding: 1rem;
    }


    #list_date {
        justify-content: space-around;
    }

    #list_date ul {
        padding-left: 0rem;
    }

    #register {
        min-width: 100%;
        padding: 3rem;
    }

    #contact {
        min-width: 100%;
        padding: 3rem;
    }

    #cover_album {
        padding: 0.5rem;

    }


    #sscontainer_admin {
        padding: 0rem;
    }

    .email_contact {
        display: none;
    }

    #concert_book {
        margin: 3rem;
    }
}


/*___________________________________________MOBILE_____________________________________________*/

@media screen and (max-width: 666px) {

    header {
        text-align: center;
    }

    header .menu {
        flex-direction: column;
        padding: 1rem;
    }

    header .menu a {
        padding: 0.4rem;
    }

    .logo {
        margin: 0rem;
        padding: 0.5rem;

    }

    #home {
        background-size: cover;
        width: 100%;
        min-height: 34rem;
    }

    #song figcaption {
        display: none;
    }

    #song figure p a span {
        display: none;
    }

    #song i {
        padding-top: 1rem;
    }

    #blur #date a {
        margin-bottom: 1rem;
    }

    #date {
        flex-direction: column;
    }

    #date div:nth-child(2) {
        justify-content: center;
    }

    #register {
        min-width: 100%;
        padding: 1rem;
    }

    #contact {
        min-width: 100%;
        padding: 1rem;
    }

    #album {
        display: block;
    }

    #cover_album {
        padding: 0rem;

    }

    #list_news {
        margin: 0rem;
        padding: 1rem 1rem 1rem 0rem;
    }

    #concert_book {
        margin: 0rem;
    }


    /*______________________________FOOTER MOBILE_________________________________*/
    footer i {
        padding: 1rem;
    }

    footer {
        text-align: center;
    }

    footer legend {
        padding: 1rem;
    }

    footer input {
        margin: 0.6rem;
    }
}
